<!doctype html>
<html>
  <%= partial "layouts/head" %>

  <body id="page-top">

    <!-- begin:container -->
    <div class="container content-wrapper">

      <%= partial "layouts/navbar" %>
      
      <%= partial "layouts/slider" %>

      <%= partial "layouts/main" %>
      
      <%= partial "layouts/pagination" %>

      <%= partial "layouts/footer" %>

    </div>
    

  </body>
</html>
